img {
  width: 100%;
}
body {
	background-color: #e4e8e9 ;
  margin: 0;
  padding: 0;
}
.container {
	width: 100%;
  max-width: 980px;
  margin: 0 auto;
}
.row {
  margin: 10px 10px;
}
.top {
  position: relative;
}
.body {
  position: relative;
  float: left;
  width: 66.5%;
  margin-right: 2%;
}
.link {
  position: relative;
  float: left;
  width: 30.5%;
}
.homepage {
  position: relative;
  float: left;
  width: 49%;
  margin-right: 2%;
}
.call {
  position: relative;
  float: left;
  width: 49%;
}
.kakao {
  padding-bottom: 5px;
}
